*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

th,table,.subtitle{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5rem;
    width: 800px;
    height: 30px;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 100px;
}
table{
    height: 200px;
}
td{
    border: 2px solid black;
    width:800px;
    height: 30px;
    text-align: center;
}